---
layout: default
title: The Eastern
---

<div class='postsList'>
  <ol>
    {% for post in site.posts %}

    {% capture thisyear %}{{ post.date | date: '%Y'}}{% endcapture %}
    {% capture nextyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}

    {% if thisyear != nextyear %}
      <h3 class='dateMarker'>{{ post.date | date: "%Y" }}</h3>
    {% endif %}
    <li><date>{{ post.date | date: "%B" }}</date><a href="{{ post.url }}">{{ post.title }}</a></li>

    {% endfor %}
  </ol>
</div>
