---
layout: post
title: Sponsor — The Eastern
displaytitle: "Sponsor<br/><span style='font-size:22px;'>The Eastern</span>"

sponsorname: Your Company
sponsordescription: "We are excited to launch our new company and product <i>Ooooh</i>. After being featured in too many magazines to mention and having <strong>created an online stir</strong>, we know that <i>Ooooh</i> is going to be big. You may have seen us in the <i>Dinosaurs’ Den</i> where we were we told that we didn’t need them because we were already doing it so well ourselves, <strong>so that’s what we have continued to do.</strong>"
sponsorurl: http://google.com
---

<p>You can sponsor <i>The Eastern</i> starting in January 2014. Sponsorships are <strong>only $250</strong> for a permanent placement at the top of the article—a position that is <strong>exclusive to you for the life of the article</strong>. Your advertisement will look something like: </p>

      {% if page.sponsorname %}
        {% assign sn = {{page.sponsorname}} %}
        {% assign sd = {{page.sponsordescription}} %}
        {% assign su = {{page.sponsorurl}} %}
        {% include cream.html sponsorurl=su sponsorname=sn sponsordescription=sd %}
      {% else %}

      {% endif %}

<p>

<p>To sponsor <i>The Eastern</i>, please contact <a href="mailto:theeastern@palmer.im">Matthew Palmer via email</a>.</p>

<p><h2>Availability</h2>
  <table>
  <thead>
    <tr>
      <th>Article</th>
      <th>Available</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>January</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>February</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>March</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>April</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>May</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>June</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>July</td>
      <td>Yes</td>
    </tr>

  </tbody>
</table>

</p>

