<html>
  <head>
    <title>{{ page.title }}</title>

    <!-- $META -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width">

    <!-- $FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>




    <!-- $STYLES -->
      <link rel="stylesheet" href="{{site.baseurl}}styles/css/normalize.css" type="text/css"/>
      <link rel='stylesheet' media='screen and (min-width: 960px)' href="{{site.baseurl}}styles/css/post.css" type="text/css"/>


    <link rel='stylesheet' media='screen and (max-width: 960px)' href='{{site.baseurl}}styles/css/mobilepost.css' type='text/css'/>

  </head>
  <body>

    <a class="headerLink" href="/"><header>
      <h1><span class='italicize'>The</span> Eastern</h1>
    </header>
    </a>
    <article>
      <h1 class='customheader'>
        {% if page.displaytitle %}
          {{ page.displaytitle }}
        {% else %}
          {{ page.title }}
        {% endif %}


      </h1>
      <h2 class='subtitle'>
        {{ page.subtitle }}
      </h2>
      <date>{{ page.date | date: "%B %Y" }}</date>
      {% if page.isSponsored %}
        {% assign sn = {{page.sponsorname}} %}
        {% assign sd = {{page.sponsordescription}} %}
        {% assign su = {{page.sponsorurl}} %}
        {% include cream.html sponsorurl=su sponsorname=sn sponsordescription=sd %}
      {% else %}

      {% endif %}

    {{ content }}

<div class='byline'>{{ page.byline }}</div>
</article>

    {% include footer.html %}

  </body>
</html>

