footer {
  background-color: $red;
  margin-top: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: $sans;


  a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid $red;
    @include transition-all();
  }

  a:hover {

    border-bottom: 1px solid white;
  }

  ul {
    list-style-type: none;
    margin: 0 0 0 0;
    text-align: center;

    li {
      display: inline-block;
      padding-right: 5%;
    }
  }


}