article {
  table {
    border-collapse: collapse;
    font-family: $sans;
    width: 100%;
    text-align: center;
    border: 1px solid $red + 55;

  }

  thead {
    background-color: $red + 55;
    color: $red - 55;
  }

  td {
    border-right: 1px solid $red + 55;
    border-bottom: 1px solid $red + 55;
  }

  td, th {
    padding: 3%;
  }

  tr {
    width: 100%;
  }

  .cream {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: gainsboro + 20;
    padding: 5%;
    color: black + 50;

    small {
      text-transform: uppercase;
      color: gray;
      font-family: $sans;
    }

    a {
      color: inherit;
      border-bottom: none;
    }

    a:hover {
      background-color: gainsboro + 20;
      color: inherit;
      border-bottom: 1px solid black + 50;
    }
  }
}