@import "base.scss";


.bigSplash {

  h1 {
    font-size: 166px;

  }

  .description {
    width: 90%;
    max-width: 1280px; // The max width of the big header text
    text-align: right;
  }

}

.postsList {
  width: 50%;
  margin-left: 25%;

  a:hover {
    border-bottom: 1px solid black;
  }

  .dateMarker {
    font-size: 66px;

  }

  ol {
    list-style-type: none;

    date {
      margin-left: -35%;
      margin-right: 5%;
      width: 30%;
      display: inline-block;
      text-align: right;

    }
  }
}

